footer
	.container
		.footer-block
			.footer-nav.d-flex.flex-content-between.flex-align-center
				ul.d-flex.fc-light
					li.mr-6 首頁
					li.mr-6 系列鏡框
					li.mr-6 門市據點
					li.mr-6 部落格
					li 常見問題
				ul.d-flex.media
					li.mr-4
						a(href="")
							img(src="img-w3/icon-fb.svg", alt="")
					li.mr-4
						a(href="")
							img(src="img-w3/icon-ig.svg", alt="")
					li
						a(href="")
							img(src="img-w3/icon-line.svg", alt="")
			ul.mb-3.info
				li.d-flex
					img(src="img-w3/icon-phone.svg", alt="")
					p.fc-light 0800-000-000
				li.d-flex
					img(src="img-w3/icon-mail.svg", alt="")
					p.fc-light glasses@business.com
			.d-flex.flex-content-between.copyright
				ul.d-flex.fc-light.flex-align-center
					li
						img(src="img-w3/logo.png", alt="")
					li Copyright © 2020 Glasses.All rights reserved.
				ul.d-flex.flex-align-center
					li
						a.fc-light(href="#") 隱私權政策
					li
						a.fc-light.mr-0(href="#") 服務條款