<!DOCTYPE html>
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		link(rel="stylesheet", href="css/reset.css")
		link(rel="stylesheet", href="css/all.css")
		link(rel="stylesheet", href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;0,900;1,900&display=swap")
		title week3
	body
		nav.d-flex.flex-content-between.flex-align-center
			.logo
				a(href="#")
					img(src="img-w3/logo.png", alt="")
			ul.d-flex.flex-align-center.fc-light
				li 系列鏡框
				li 門市據點
				li 部落格
				li 常見問題
		block content
		include footer
								